{% macro create_team(current_user) %}
	<div class="modal fade bs-example-modal-lg"
		 id="CTeam" tabindex="-1" role="dialog"
		 aria-labelledby="CreateTeam">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="CreateTeam"><b>创建战队</b></h4>
				</div>
				<div class="modal-body text-center">
					<form id="form" class="form">
						<div class="form-group" id="name">
							<label class="control-label"
								   for="name">队名</label>
							<input type="text" placeholder="例：洛杉矶湖人队 不可更改"
								   class="form-control" name="name" maxlength="16">
							<span class="help-block text-left"></span>
						</div>

						<div class="form-group" id="captain">
							<label class="control-label"
								   for="username">队长</label>
							<input type="text" name="captain" maxlength="16"
								   value="{{ current_user.username }}"
								   class="form-control" readonly>
						</div>

						<div class="form-group" id="maxim">
							<label class="control-label"
								   for="maxim">座右铭</label>
							<input type="text" placeholder="例：Royal Never Give up"
								   class="form-control" name="maxim"
								   maxlength="32">
							<span class="help-block text-left"></span>
						</div>

						<div class="form-group" id="about_us">
							<label class="control-label"
								   for="about_us">队伍简介</label>
							<textarea rows="4" class="form-control"
									  name="about_us"></textarea>
							<span class="help-block text-left"></span>
						</div>

						<div class="form-group">
							<p>
								队徽 <br/>
								<small>（2M以下,需要转换大小请点
									<a href="http://www.gaitubao.com/"
									   target="_blank">这里</a>）
								</small>
							</p>
							<div class="img-file">
								<a href="#">
									<img src="/static/image/logo.jpg" alt=""
										 class="img-rounded user-thumbnail"
										 id="uploadPreview" width="140"
										 height="140">
								</a>
								<input id="uploadImage" type="file"
									   name="avatar" accept="image/*"/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn
						btn-info" id="submit">提交</button>
					<button type="button" class="btn btn-default"
							data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro update_team(current_user) %}
	<div class="modal fade bs-example-modal-lg"
		 id="UTeam" tabindex="-1" role="dialog"
		 aria-labelledby="UpdateTeam">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="UpdateTeam"><b>修改战队</b></h4>
				</div>
				<div class="modal-body text-center">
					<form id="form" class="form">
						<div class="form-group" id="name">
							<label class="control-label"
								   for="name">队名</label>
							<input type="text" name="name" maxlength="16"
								   value="{{ current_user.team.name }}"
								   class="form-control" readonly>
							<span class="help-block text-left"></span>
						</div>

						<div class="form-group" id="captain">
							<label class="control-label"
								   for="username">队长</label>
							<input type="text" name="captain" maxlength="16"
								   value="{{ current_user.username }}"
								   class="form-control" readonly>
						</div>

						<div class="form-group" id="maxim">
							<label class="control-label"
								   for="maxim">座右铭</label>
							<input type="text"
								   value="{{ current_user.team.maxim }}"
								   class="form-control" name="maxim"
								   maxlength="32">
							<span class="help-block text-left"></span>
						</div>

						<div class="form-group" id="about_us">
							<label class="control-label"
								   for="about_us">队伍简介</label>
							<textarea rows="4" class="form-control"
									  name="about_us">{{ current_user.team.about_us }}</textarea>
							<span class="help-block text-left"></span>
						</div>

						<div class="form-group">
							<p>
								队徽 <br/>
								<small>（2M以下,需要转换大小请点
									<a href="http://www.gaitubao.com/"
									   target="_blank">这里</a>）
								</small>
							</p>
							<div class="img-file">
								<a href="#">
									<img src="{{ current_user.team.emblem_hash }}"
										 class="img-rounded user-thumbnail"
										 id="uploadPreview" width="140"
										 height="140">
								</a>
								<input id="uploadImage" type="file"
									   name="avatar" accept="image/*"/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn
						btn-info" id="update">提交</button>
					<button type="button" class="btn btn-default"
							data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro show_player(json_data, captain_id) %}
	<tr>
		<td>
			<img src="{{ json_data.avatar_hash|default('/static/image/default.jpg',true) }}"
				 width="32"
				 height="32">
			<a href="{{ json_data.auth_url }}">
				{{ json_data.username }}
			</a>
		</td>
		<td>
			{{ json_data.nickname }}
		</td>
		<td>
			{{ json_data.position }}
		</td>
		<td>
			{{ json_data.about_me }}
		</td>
		<td>
			{% if json_data.id == captain_id %}
				队长
			{% else %}
				队员
			{% endif %}
		</td>
		<td>
			{% if json_data.id != captain_id %}
				<a href="#">转让队长</a>
			{% endif %}
		</td>
	</tr>
{% endmacro %}

{% macro show_activity(data) %}
	<div class="activity">
		<div class="post-head">
			<div class="page-header">
				<h1>{{ data.title }}</h1>
				<small>起止时间：
					<span class="time">
						{{ data.start_date }} 至
						{{ data.end_date }}
					</span>
				</small>
			</div>
		</div>
		<div class="post-body">
			<div class="img">
				<a href="{{ data.show_url }}">
					<img src="{{ data.image_url }}" alt="{{ data.title }}"
						 class="img-responsive">
				</a>
			</div>
		</div>
		<div class="post-footer">
			<a href="{{ data.show_url }}"
			   class="btn btn-default">阅读全文</a>
		</div>
	</div>
{% endmacro %}

{% macro pagination_widget(pagination, endpoint) %}
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li {% if not pagination.has_prev %} class="disabled" {% endif %}>
				<a href="{% if pagination.has_prev %}
								 {{ url_for(endpoint,page=pagination.page - 1, **kwargs) }}
							 {% else %}
							   #
							 {% endif %}">
					&laquo;
				</a>
			</li>
			{% for p in pagination.iter_pages() %}
				{% if p %}
					{% if p == pagination.page %}
						{#					如果p的值是当前页面,css效果默认选中#}
						<li class="active">
							<a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
						</li>
					{% else %}
						<li>
							<a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
						</li>
					{% endif %}
				{% else %}
					<li class="disabled"><a href="#">&hellip;</a></li>
				{% endif %}
			{% endfor %}
			<li{% if not pagination.has_next %} class="disabled"{% endif %}>
				<a href="{% if pagination.has_next %}
									{{ url_for(endpoint,page=pagination.page + 1, **kwargs) }}
							 {% else %}
							 		#
					     {% endif %}">
					&raquo;
				</a>
			</li>
		</ul>
	</nav>
{% endmacro %}