{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet"
		  href="{{ url_for('static', filename='css/login.css') }}"
		  type="text/css">
{% endblock %}
{% block page_content %}
	{% for message in get_flashed_messages() %}
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
	{% endfor %}
	<div class="container">
		<div class="box-body">
			<div class="content">
				<div class="page-header text-center">
					<h2>修改密码</h2>
				</div>
				<div class="reset_password">
					<form class="form">
						<div class="input-group">
							<label for="email">请输入新密码</label>
							<input type="password" id="pwd1"
								   class="form-control"
								   required>
							<span class="help-block text-left">
								<small>* 6-18位的数字、字母、下划线</small>
							</span>
						</div>
						<div class="input-group">
							<label for="email">请再次输入新密码</label>
							<input type="password" id="pwd2"
								   class="form-control" required>
						</div>
					</form>
					<button class="btn btn-primary"
							id="change_password">提交</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>
        $('#change_password').click(function (e) {
            var pwd1 = $('#pwd1').val();
            var pwd2 = $('#pwd2').val();
            if (pwd1 !== pwd2){
                swal('错误', '两次输入的密码不一致!请重新输入!', 'error');
                e.preventDefault();
                $('#pwd1').val('');
                $('#pwd2').val('');
                $('#pwd1').focus();
                return
            }
            var re = /^[0-9a-zA-Z_]{6,18}$/;
            if (re.test(pwd1) !== true){
                swal("输入错误", "请输入6-18位的数字、字母、下划线", 'error');
                e.preventDefault();
                $('#pwd1').val('');
                $('#pwd2').val('');
                $('#pwd1').focus();
                return
            }
            var json_data = {'password': pwd1};
            json_data = JSON.stringify(json_data);
            $.post({
                url: "{{ url_for('api.change_password', id=current_user.id) }}",
                data: json_data,
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data.result !== 'error'){
                        swal({
                            title: '修改成功!',
                            type: 'success',
                            text: '2秒后自动跳转到资料页面',
                            timer: 2000,
                            showConfirmButton: false
                        }).catch(function () {
                            window.location.href =
                                "{{ url_for('auth.index', id=current_user.id) }}"
                        });
                    }
                    else {
                        console.log('数据错误');
                        swal('ERROR', '修改失败!请重试！', 'error')
                    }
                }
            })
        })
	</script>
{% endblock %}