{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet"
		  href="{{ url_for('static', filename='css/user.css') }}"
		  type="text/css">
	<style>
		.box-header input{
			max-width: 500px;
			margin: 0 auto;
		}

		.img-file {
			display: inline-block;
			position: relative;

		}
		.img-file input {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 140px;
			height: 140px;
			opacity: 0;
			cursor: pointer;
		}
	</style>
{% endblock %}
{% block page_content %}
	<div class="container">
		<div class="user">
			{% for message in get_flashed_messages() %}
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endfor %}
			<div class="box-header">
				<div class="form-group">
					<p>点击图片更换头像 <small>（2M以内）</small></p>
					<div class="img-file">
						<a href="#">
							<img src="{{ user.gravatar(size=128) }}" alt=""
								 class="img-rounded user-thumbnail"
								 id="uploadPreview" width="140"
								 height="140">
						</a>
						<input id="uploadImage" type="file"
							   name="avatar_hash" accept="image/*"/>
						<!--todo: 完成本页面-->
					</div>

				</div>

				<div class="form-group">
					<label class="control-label" for="username">用户名</label>
					<input type="text" value="{{ user.username }}"
						   class="form-control" name="username" id="username">
				</div>

				<small>({{ user.nickname|default('无', True) }})</small>

				<h2>
					<b>自我评价：{{ user.about_me|default('无', True) }}</b>
				</h2>
			</div>
			<div class="box-content">
				<table class="table">
					<tr>
						<td>司职：</td>
						<td>{{ user.position }}</td>
					</tr>
					<tr>
						<td>性别：</td>
						<td>
							{% if user.male == 1 %}
								男
							{% elif user.male == 2 %}
								女
							{% else %}
								待定
							{% endif %}
						</td>
					</tr>
					<tr>
						<td>年龄：</td>
						<td>{{ user.age|default('0', True) }}</td>
					</tr>
					<tr>
						<td>身高：</td>
						<td>{{ user.tops|default('0', True) }} cm</td>
					</tr>
					<tr>
						<td>体重：</td>
						<td>{{ user.weight|default('0', True) }} kg</td>
					</tr>
					<tr>
						<td>队伍：</td>
						<td>
							{% if user.team == None %}
								<div class="text-info">独行侠</div>
							{% else %}
								<a href="#">{{ user.team.name }}</a>
							{% endif %}
						</td>
					</tr>
				</table>
			</div>
			{% if current_user.id == user.id or current_user.id == user.team.captain_id %}
				<hr />
				<div class="box-content">
				<div class="page-header">
					<h1>个人资料</h1>
					<small>（以下信息仅自己以及队长可见）</small>
				</div>
				<table class="table">
					<tr>
						<td>真实姓名：</td>
						<td>{{ user.name|default('无名氏', True) }}</td>
					</tr>
					<tr>
						<td>QQ：</td>
						<td>{{ user.qq|default('无', True) }}</td>
					</tr>
					<tr>
						<td>手机：</td>
						<td>{{ user.phone|default('无', True) }}</td>
					</tr>
					<tr>
						<td>微信号：</td>
						<td>{{ user.WeChat|default('无', True) }}</td>
					</tr>
					<tr>
						<td>邮箱：</td>
						<td>{{ user.email }}</td>
					</tr>
				</table>
			{% endif %}
			{% if current_user.id == user.id  %}
				<a class="btn btn-success btn-lg	" id="edit"
				   href="{{ url_for('auth.edit', id=user.id) }}">编辑个人资料</a>
			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/image.js') }}"></script>
	<script>
        $("#uploadImage").change(function () {
            upLoadImage(this.files[0], 'uploadPreview');
        });
	</script>
{% endblock %}