{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet"
		  href="{{ url_for('static', filename='css/user.css') }}"
		  type="text/css">
{% endblock %}
{% block page_content %}
	<div class="container">
		<div class="user">
			{% for message in get_flashed_messages() %}
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endfor %}
			<div class="box-header">
				<img class="img-rounded user-thumbnail"
					 src="{{ user.gravatar(size=128) }}">
				<h1>
					{{ user.username }}
					<small>({{ user.nickname|default('无', True) }})</small>
				</h1>
				<h2>
					<b>自我评价：{{ user.about_me|default('无', True) }}</b>
				</h2>
			</div>
			<div class="box-content">
				<table class="table">
					<tr>
						<td>司职：</td>
						<td>{{ user.position }}</td>
					</tr>
					<tr>
						<td>性别：</td>
						<td>
							{% if user.male == 1 %}
								男
							{% elif user.male == 2 %}
								女
							{% else %}
								待定
							{% endif %}
						</td>
					</tr>
					<tr>
						<td>年龄：</td>
						<td>{{ user.age|default('0', True) }}</td>
					</tr>
					<tr>
						<td>身高：</td>
						<td>{{ user.tops|default('0', True) }} cm</td>
					</tr>
					<tr>
						<td>体重：</td>
						<td>{{ user.weight|default('0', True) }} kg</td>
					</tr>
					<tr>
						<td>队伍：</td>
						<td>
							{% if user.team == None %}
								<div class="text-info"><a href="{{ url_for('auth.my_team',
								id=current_user.id) }}">独行侠</a></div>
							{% else %}
								<a href="#">{{ user.team.name }}</a>
							{% endif %}
						</td>
					</tr>
				</table>
			</div>
			{% if current_user.id == user.id or
				(user.team and current_user.id == user.team.captain_id) %}
				<hr />
				<div class="box-content">
				<div class="page-header">
					<h1>个人资料</h1>
					<small>（以下信息仅自己以及队长可见）</small>
				</div>
				<table class="table">
					<tr>
						<td>真实姓名：</td>
						<td>{{ user.name|default('无名氏', True) }}</td>
					</tr>
					<tr>
						<td>QQ：</td>
						<td>{{ user.qq|default('无', True) }}</td>
					</tr>
					<tr>
						<td>手机：</td>
						<td>{{ user.phone|default('无', True) }}</td>
					</tr>
					<tr>
						<td>微信号：</td>
						<td>{{ user.WeChat|default('无', True) }}</td>
					</tr>
					<tr>
						<td>邮箱：</td>
						<td>{{ user.email }}</td>
					</tr>
				</table>
			{% endif %}
			{% if current_user.id == user.id  %}
				<a class="btn btn-success btn-lg	" id="edit"
				   href="{{ url_for('auth.edit', id=user.id) }}">编辑个人资料</a>
			{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}