{% extends 'base.html' %}
{% import 'auth/_models.html' as model %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet"
		  href="{{ url_for('static', filename='css/user.css') }}"
		  type="text/css">
	<style>
		.user {
			overflow: hidden;
			min-height: 700px;
		}
		.left-nav{
			position: relative;
			width: 30%;
			padding-right: 10px;
			padding-left: 10px;
			float: left;
			margin-top: 30px;
		}
		.right-content {
			margin-top: 30px;
			width: 70%;
			float: right;
		}

		/*胶囊式导航的css*/
		.nav-pills>li.active>a,
		.nav-pills>li.active>a:focus,
		.nav-pills>li.active>a:hover {
			color: #0f0f0f;
			background-color: #ff000a;
		}

		.nav-pills>li>a {
			color: #0f0f0f;
		}

		.nav-pills>li>a:hover {
			color: #0f0f0f;
			background-color: #f52f2f;
		}

		.my-team {
			padding-left: 25px;
			padding-right: 25px;
			overflow: hidden;
			text-align: left;
		}
		.my-team img{
			border: 2px solid #9c9c9c;
			border-radius: 15px;
		}

		.my-team #time{
			font-size: 0.8em;
		}

		.my-team .thumbnail{
			padding-top: 25px;
			text-align: center;
			font-size: 1.2em;
		}

		.my-team .caption b{
			color: #ff000a;
			text-shadow: 1px 1px 1px #ff000a;
		}

		.my-team a{
			text-decoration: none;
		}

		.my-team .well {
			color: #0f0f0f;
		}
		.my-team .well .setting {
			text-align: center;
			margin-top: 50px;
			font-size: 1.5em;
			text-decoration: none;
			padding-bottom: 50px;
		}

		.my-team .well .setting ul>li {
			margin-top: 20px;
		}

		.create-team {
			margin-top: 100px;
			font-size: 1.5em;
			text-decoration: none;
			padding-bottom: 50px;
		}

		.modal .modal-body{
			font-size: 1.3em;
		}

		.user .table>tbody>tr>td {
			width: auto;
		}

		.table img {
			border: none;
		}

		@media screen and (max-width: 767px){
			.nav-pills>li{
				width: 100%;
			}
			.left-nav {
				width: 100%;
				clear: both;
				padding-bottom: 20px;
			}
			.right-content {
				width: 100%;
				clear: both;
			}
			.my-team {
				padding: 0;
				font-size: 0.8em;
			}
		}
	</style>
{% endblock %}
{% block page_content %}
	<div class="container">
		<div class="user">
			<div class="box-header">
				<h1>我的战队</h1>
			</div>
			<div class="left-nav well">
				<ul class="nav nav-pills nav-stacked" role="tablist" id="nav">
					<li role="presentation" class="active">
						<a href="#home" aria-controls="content" role="tab"
						   data-toggle="tab">战队简介</a>
					</li>
					<li role="presentation">
						{% if current_user.team %}
							<a href="#profile" aria-controls="profile"
							   role="tab" data-toggle="tab">成员资料</a>
						{% else %}
							<a href="#">成员资料</a>
						{% endif %}
					</li>
					<li role="presentation">
						{% if current_user.team and
						current_user.id == current_user.team.captain_id %}
							<a href="#settings" aria-controls="settings"
							   role="tab" data-toggle="tab">相关操作</a>
						{% else %}
							<a href="#">相关操作</a>
						{% endif %}
					</li>
				</ul>
			</div>
			<div class="right-content">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						{% if current_user.team %}
							<div class="my-team text-left">
								<div class="thumbnail">
									<img src="{{ current_user.team.emblem_hash }}"
										 class="img-rounded profile-thumbnail"
										 width="140" height="140"/>
									<div class="caption">
										<table class="table">
											<tr>
												<td>战队名</td>
												<td><b>{{ current_user.team.name }}</b></td>
											</tr>
											<tr>
												<td>成立时间</td>
												<td><span id="time"></span></td>
											</tr>
											<tr>
												<td>队长</td>
												<td><a href="{{ current_user.team.to_json()['captain']['auth_url'] }}">
													{{ current_user.team.to_json()['captain']['username'] }}
												</a></td>
											</tr>
											<tr>
												<td>人数</td>
												<td>
													{{ current_user.team.to_json()['count'] }}
												</td>
											</tr>
											<tr>
												<td>座右铭</td>
												<td>
													{{ current_user.team.to_json()['maxim'] }}
												</td>
											</tr>
											<tr>
												<td>战队简介</td>
												<td>
													{{ current_user.team.to_json()['about_us'] }}
												</td>
											</tr>
											{% if current_user.id == current_user.team.captain_id %}
												<tr>
													<td colspan="2">
														<button class="btn btn-info"
																data-toggle="modal"
																data-target="#UTeam">
															编辑
														</button>
													</td>
												</tr>
											{% endif %}
										</table>
									</div>
								</div>
							</div>
						{% else %}
							<div class="create-team">
								<p>独行者，你还没有战队</p>
								<a href="#" id="create-team"
								   data-toggle="modal"
								   data-target="#CTeam">
									创建战队
								</a>
								| <a href="#" id="join-team">加入战队</a>
							</div>
						{% endif %}
					</div>
					<div role="tabpanel" class="tab-pane" id="profile">
						<div class="my-team">
							<div class="well">
								<table class="table table-bordered
								table-hover table-striped text-center">
									<tr>
										<th class="text-center">成员</th>
										<th class="text-center">昵称</th>
										<th class="text-center">位置</th>
										<th class="text-center">简介</th>
										<th class="text-center">身份</th>
										<th class="text-center">操作</th>
									</tr>
									{% if current_user.team %}
										{% for player in current_user.team.players %}
											{{ model.show_player(player.easy_to_json(),
											current_user.team.captain_id) }}
										{% endfor %}
									{% endif %}
								</table>
							</div>
						</div>
					</div>
					{% if current_user.team and
						current_user.id == current_user.team.captain_id %}
						<div role="tabpanel" class="tab-pane" id="settings">
							<div class="my-team">
								<div class="well">
									<div class="setting">
										<ul>
											<li>
												<a href="#" id="delete-team">解散战队</a>
											</li>
											<li>
												<a href="#" id="add-player">添加队员</a>
											</li>
											<li>
												<a href="#" id="del-player">遣散队员</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->

	{% if current_user.team %}
		{{ model.update_team(current_user) }}
	{% else %}
		{{ model.create_team(current_user) }}
	{% endif %}


{% endblock %}
{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/image.js') }}"></script>
	{% if current_user.team %}
		<script>
            moment.locale('zh-cn');
            var member_since = "{{ current_user.team.to_json()['member_since'] }}";
            $('#time').text(moment(member_since).format('YYYY年 MMM Do'));
		</script>

	{% endif %}

	<script>
        var screen = $(window).width();
        if (screen < 767){
            $('#nav').removeClass('nav-stacked')
        }

        $("#uploadImage").change(function () {
            if (this.files[0].size > 1024 * 1024 * 2){
                swal('信息', '图片太大了！处理一下吧！','info');
                return
            }
            upLoadImage(this.files[0], 'uploadPreview');
        });

        $('#join-team').click(function () {
            swal('提示', '只有战队队长可以添加队员，请前往论坛或其他途径联系战队队长加入其战队！', 'info')
        });

        $('#submit').click(function () {
            $.get({
                url: "{{ url_for('api.team_exist') }}"
                + "?name=" + $('input[name="name"]').val(),
                data: "",
                dataType: 'json',
                success: function (data) {
                    if (data.result === true){
                        swal('队名已存在','这个队名别人已经用了！', 'info');
                    }else{
                        var values = $('#form').serializeArray(),
                            json_data = {};
                        for (var e in values){
                            json_data[values[e].name] = values[e].value
                        }
                        json_data.emblem_hash = $('#uploadPreview').attr('src');
                        json_data.captain_id = {{ current_user.id }};
                        delete json_data.captain;
                        json_data = JSON.stringify(json_data);
                        console.log(json_data);
                        $.ajax({
                            type: "POST",
                            url: "{{ url_for('api.new_team') }}",
                            data: json_data,
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {
                                if (data.result === 'ok'){
                                    MyMessage({{ current_user.id }},
										"恭喜你！创建了战队！" + $('input[name="name"]').val());
                                    swal('OK','创建成功！', 'success')
                                        .then(function () {
                                            window.location.reload()
                                        });
                                }
                                else {
                                    swal('错误','创建失败！请联系单位工作人员！', 'error')
                                }
                            },
                            error: function () {
                                swal('错误','创建失败！请联系单位工作人员！', 'error')
                            }
                        });
                    }
                }
            });
        });
	</script>
	{% if current_user.team %}
		<script>
            // 更新战队资料
            $('#update').click(function (e) {
                e.preventDefault();
                var values = $('#form').serializeArray(),
                    json_data = {};
                for (var e in values){
                    json_data[values[e].name] = values[e].value
                }
                json_data.emblem_hash = $('#uploadPreview').attr('src');
                json_data.captain_id = {{ current_user.id }};
                delete json_data.captain;
                json_data.id = {{ current_user.team.id }};
                json_data = JSON.stringify(json_data);
                console.log(json_data);
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('api.update_team', id=current_user.team.id)}}",
                    data: json_data,
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.result === 'ok'){
                            swal({
                                title: '修改成功!',
                                type: 'success',
                                text: '2秒后自动跳转',
                                timer: 2000,
                                showConfirmButton: false
                            }).catch(function () {
                                window.location.reload()
                            });
                        }
                        else {
                            swal('错误','创建失败！请联系单位工作人员！', 'error')
                        }
                    },
                    error: function () {
                        swal('错误','创建失败！请联系单位工作人员！', 'error')
                    }
                });
            })

            // 解散战队
            $('#delete-team').click(function () {
                var user_id = {{ current_user.id }},
                    captain_id = {{ current_user.team.captain_id }};
                if (user_id !== captain_id){
                    swal('错误', '您没有操作的权限', 'error');
                    return
                }
                swal({
                    title: '解散战队！',
                    text: '你确定要解散这只战队么？',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '还是算了',
                    cancelButtonText: '是的！解散！',
                    cancelButtonColor: '#d33',
                }).then(function () {
                    swal(
                        '信息!',
                        '你没有解散战队！明智的选择.',
                        'info'
                    );
                }, function () {
					{% for player in current_user.team.players %}
                    	MyMessage({{ player.id }}, '你的战队已经被解散！');
					{% endfor %}
                    $.ajax({
                        type: "DELETE",
                        url: "{{ url_for('api.delete_team', id=current_user.team.id)}}",
                        data: "",
                        dataType: 'json',
                        success: function (data) {
                            if (data.result === 'ok'){
                                swal('完成', '战队已解散！', 'success').then(function () {
                                    window.location.reload()
                                })
                            }
                            else {
                                swal('失败', '您没有操作的权限', 'error');
                            }
                        },
                        error: function () {
                            swal('失败', '请联系管理员', 'error');
                        }
                    });
                })
            });

            // 添加队员
            $('#add-player').click(function () {
                swal({
                    title: '请输入您要添加的队员的邮箱！',
                    input: 'email',
                    inputPlaceholder: '例如：假如我是QQ号@qq.com',
                    confirmButtonText: '下一步'
                }).then(function (email) {
                    var data = JSON.stringify({'email': email});
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('api.add_player', id=current_user.team.id)}}",
                        data: data,
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data.result === 'ok'){
                                swal('完成', '添加成功！', 'success')
                                    .then(function () {
                                        window.location.reload()
                                    })
                            }
                            else if(data.result === 'None'){
                                swal('失败', '查无此人', 'error');
                            }
                            else {
                                swal('失败', '数据出错！请联系管理员', 'error');
                            }
                        },
                        error: function () {
                            swal('失败', '数据出错！请联系管理员', 'error');
                        }
                    })
                })
            });

            // 剔除队员
            $('#del-player').click(function () {
                var data = {};
                {% for player in current_user.team.players %}
                    {% if player.easy_to_json().id != current_user.team
                    .captain_id %}
                        data["{{ player.easy_to_json().id }}"] =
                            "{{ player.easy_to_json().username }}";
                    {% endif %}
                {% endfor %}
                swal({
                    title: '请选择您要剔除的队员！',
                    input: 'radio',
                    inputOptions: data,
                    confirmButtonText: '下一步',
                    inputValidator: function (result) {
                        return new Promise(function (resolve, reject) {
                            if (result) {
                                resolve()
                            } else {
                                reject('总要选一个在继续吧？')
                            }
                        })
                    }
                }).then(function (player_id) {
                    MyMessage(player_id, "你被你的战队开除了！");
                    $.ajax({
                        type: "DELETE",
                        url: "/api-v1.0/player/" + player_id,
                        data: "",
                        dataType: 'json',
                        success: function (data) {
                            if (data.result === 'ok'){
                                swal('完成', '该成员已经从本战队移除！', 'success')
									.then(function () {
                                    window.location.reload()
                                })
                            }
                            else {
                                swal('失败', '请联系管理员', 'error');
                            }
                        },
                        error: function () {
                            swal('失败', '请联系管理员', 'error');
                        }
                    });
                }, function (e) {
                    // e === 'overlay'
                    // console.log(e)
                })
            })
		</script>
	{% endif %}
{% endblock %}