{% extends 'base.html' %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet"
		  href="{{ url_for('static', filename='css/register.css') }}"
		  type="text/css">
{% endblock %}

{% block page_content %}
	<div class="register">
		<div class="register-box">
			<div class="mod-head">
				<img src="\static\image\logo.jpg" width="140" height="140"
					 class="img-circle">
				<h1>注册新用户</h1>
			</div>
			<div class="mod-body">
				<form class="form" action="#" id="form">
					<div class="page-header">
						<b>必填</b>
					</div>
					<ul>
						<li id="username">
							<input class="form-control"
								   type="text" name="username"
								   placeholder="用户名"
								   value="" required>
							<span class="help-block text-left">
								* 6-18位的数字、字母、下划线
							</span>
						</li>
						<li id="email">
							<input class="form-control"
								   type="text" name="email"
								   placeholder="邮箱"
								   data-toggle="popover"
								   data-placement="top"
								   value="" required>
							<span class="help-block text-left">
								* 例如： 1234567@qq.com
							</span>
						</li>
						<li id="password">
							<input class="form-control"
								   type="password" name="password"
								   placeholder="密码"
								   data-toggle="popover"
								   data-placement="top"
								   value="" required>
							<span class="help-block text-left">
								* 6-18位的数字、字母、下划线
							</span>
						</li>
						<hr />
						<div class="page-header">
							<b>主要联系方式</b><br />
							<small><b>(自己、球队队长可见)</b></small>
						</div>
						<li class="text-left" id="phone">
							<label for="phone">手机号:</label>
							<input class="form-control"
								   type="number" name="phone"
								   placeholder="无"
								   value="" >
							<span class="help-block text-left"></span>
						</li>
						<li class="text-left" id="qq">
							<label for="qq">QQ:</label>
							<input class="form-control"
								   type="number" name="qq"
								   placeholder="无"
								   value="" >
							<span class="help-block text-left"></span>
						</li>
						<li class="text-left" id="WeChat">
							<label for="WeChat">微信号:</label>
							<input class="form-control"
								   type="text" name="WeChat"
								   placeholder="无"
								   value="">
							<span class="help-block text-left"></span>
						</li>
						<hr />
						<div class="page-header"><b>选填</b></div>
						<li class="text-left" id="name">
							<label for="name">真实姓名:</label>
							<input class="form-control"
								   type="text" name="name"
								   placeholder="例如：李狗蛋"
								   value="" >
						</li>
						<li class="text-left" id="nickname">
							<label for="nickname">绰号:</label>
							<input class="form-control"
								   type="text" name="nickname"
								   placeholder="例如：二狗子"
								   value="" >
						</li>
						<li class="text-left" id="about_me">
							<label for="about_me">一句话介绍:</label>
							<input class="form-control"
								   type="text" name="about_me"
								   placeholder="例如：我叫李狗蛋，绰号二狗子，是一个风一样的男子"
								   value="">
						</li>
						<li id="gender" class="text-left radio">
							<b>性别:</b> &nbsp;
							<label>
								<input type="radio" value='1' name="gender">
								男
							</label>&nbsp;
							<label>
								<input type="radio" value='2' name="gender">
								女
							</label>&nbsp;
							<label>
								<input type="radio" value='3' name="gender" checked>
								待定
							</label>
						</li>

						<li class="text-left" id="age">
							<label for="age">年龄:</label>
							<input class="form-control"
								   type="number" name="age"
								   placeholder="例如：3"
								   value="" >
							<span class="help-block text-left"></span>
						</li>
						<li class="text-left" id="tops">
							<label for="tops">身高:</label>
							<div class="input-group">
								<input class="form-control"
									   type="number" name="tops"
									   placeholder="150"
									   value="" >
								<span class="input-group-addon"
									  id="Kg">CM</span>
							</div>
							<span class="help-block text-left"></span>
						</li>
						<li class="text-left" id="weight">
							<label for="weight">体重:</label>
							<div class="input-group">
								<input class="form-control"
									   type="number" name="weight"
									   placeholder="150"
									   value=""
									   aria-label="Amount (to the nearest dollar)">
								<span class="input-group-addon"
									  id="Kg">KG</span>

							</div>
							<span class="help-block text-left"></span>
						</li>

						<li id="position" class="text-left">
							<label><b>主要位置:</b> &nbsp;</label>
							<select name="position"  class="form-control">
								<option>后卫</option>
								<option>前锋</option>
								<option>中锋</option>
							</select>
						</li>
					</ul>
				</form>
			</div>
			<button class="btn btn-info" id="submit">注册</button>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/register.js') }}"></script>
	<script>
        var re_result = {
            'username': false,
            'email': false,
            'password': false
        };
        bind_register();
        $('#submit').click(function (e) {
            var values = $('#form').serializeArray();
            var json_data = {};
            for (var i in values){
                json_data[values[i].name] = values[i].value
            }
            json_data = JSON.stringify(json_data);
            for (var i in re_result){
                if (re_result[i] !== true){
                    $("html, body").animate({scrollTop: $('#'+i).offset().top
                    - 150},700);
                    has_error(i, "&times; 验证不通过！");
                    return
                }
            }
            console.log(json_data);
            $.ajax({
                type: "POST",
                url: "{{ url_for('api.register') }}",
                data: json_data,
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data.result === 'ok'){
                        swal({
                            title: '注册成功,一封确认邮件已发往您的邮箱!',
                            type: 'success',
                            text: '请登录后前往邮箱进行验证! 3秒后自动跳转到首页',
                            timer: 3000,
                            showConfirmButton: false
                        }).catch(function () {
                            window.location.href =
                                "{{ url_for('auth.register_ok') }}"
                        });
                    }
                    else {
                        swal('错误','注册失败！请联系单位工作人员！', 'error')
					}
                },
                error: function () {
                    swal('错误','注册失败！请联系单位工作人员！', 'error')
                }
            });
        })
	</script>


{% endblock %}