{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet"
		  href="{{ url_for('static', filename='css/login.css') }}"
		  type="text/css">
{% endblock %}
{% block page_content %}
	<div class="container">
		{% for message in get_flashed_messages() %}
			<div class="alert alert-info" style="margin:65px 15% 65px 15%;">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}
		<div class="box-body">
			<div class="content">
				<div class="page-header text-center">
					<h2>重置密码</h2>
				</div>
				<div class="reset_password">
					<form class="form">
						<label for="email">请输入您的邮箱</label>
						<input type="text" id="email" class="form-control" required>
					</form>
					<button class="btn btn-primary" id="reset_password">下一步</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>
        $('#reset_password').click(function () {
            var json_data = {
                'email': $('#email').val()
            };
            json_data = JSON.stringify(json_data);
            $.post({
                url: "{{ url_for('api.reset_password') }}",
                data: json_data,
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data.result !== 'error'){
                        swal("提交成功！", data.result, 'success').then(function () {
                            window.location.href = "{{ url_for('auth.login') }}"
                        });
                    }
                    else {
                        if (data.result === 'None'){
                            swal('ERROR', '这个邮箱没有注册！', 'error')
                        }
                        else{
                            console.log('数据错误');
                            swal('ERROR', '数据错误', 'error')
                        }
                    }
                }
            })
        })
	</script>
{% endblock %}