body{
    background: #f0f0f0;
}
.register {
    padding-top: 150px;
}
.register-box {
    margin: 0 auto;
    width: 60%;
    height: auto;
    padding: 50px 0;
    background: white;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    text-align: center;
}

.mod-body {
    width: 70%;
    margin: 0 auto;
    padding: 40px;
}

.mod-body .form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mod-body .form ul li {
    position: relative;
    margin-bottom: 20px;
}
.mod-body .page-header {
    color: #ff000a;
    font-size: 1.2em;
}

.mod-body .page-content {
    font-size: larger;
    font-weight: bolder;
    line-height: 30px;
}

.aw-register-box ul li input[type="text"],
.aw-register-box ul li input[type="password"] {
    width: 100%;
    height: 40px;
    line-height: 28px\0;
    padding-left: 15px !important;
    box-shadow: none;
    border-color: #e6e6e6;
}

#submit{
    width: 60%;
}

.alert {
    width: 70%;
    position: fixed;
    margin: 10px auto;
}



@media screen and (max-width: 1024px){
    body {
        font-size: 0.9em;
    }
    .register-box {
        width: 90%;
    }
    .mod-body {
        width: 100%;
    }
}