/*全局css*/
html {
    min-height: 100%;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    margin-top: 70px;
    font-size: 1.5em;
    margin-bottom: 60px;
}

.navbar {
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.4);
    height: 50px;
}
.navbar a {
    background:transparent !important;
}
.navbar a:hover {
    background:transparent;
}

.login {
    padding: 10px 50px 50px 50px;
    margin-top: 150px;
}

.shadow {
    box-shadow: 0 0 10px 10px rgba(15, 15, 15, 0.4);
    padding-bottom: 20px;
    margin-bottom: 60px;
    min-height: 800px;
}

.shadow .form {
    padding: 20px 60px;
}

.footer {
    padding: 20px;
    margin-top: 10px;
    height: 50px;
    background-color: #222222;
    color: #FFFFFF;
}

.bg-transparent{
    background:transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}

.my-navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.my-navbar a:hover{
    color: #008db8 !important;
}

.my-navbar a {
    color: #00a2d4 !important;
    transition: color 0.5s ease-in-out;
}
