/*全局css*/
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    margin-top: 70px;
    font-size: 1.5em;
}

.login {
    padding: 10px 50px 50px 50px;
    margin: auto;
    height: auto;
    max-width: 500px;
    margin-top: 50px;
}

.shadow {
    box-shadow: 0 0 10px 10px rgba(15, 15, 15, 0.4);
    padding-bottom: 20px;
    margin-bottom: 30px;
    min-height: 800px;
}

.shadow .form {
    padding: 20px 60px;
}

.pad-left {
    padding: 20px 60px;
}

.footer {
    padding: 20px;
    margin-top: 10px;
    height: 50px;
    background-color: #222222;
    color: #FFFFFF;
}

.bg-transparent{
    /*background:transparent !important;*/
    /*border: 0 !important;*/
    /*box-shadow: none !important;*/
}

/*.my-navbar {*/
/*transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;*/
/*}*/

.my-navbar a:hover{
    color: #008db8 !important;
}

.my-navbar a {
    color: #00a2d4 !important;
    transition: color 0.5s ease-in-out;
}

.my-block {
    width: 95%;
    margin: 10px auto 30px;
    padding: 10px;
}

.activity {
    background-color: #f7f6f5;
    box-shadow: 5px 5px 5px 5px #949494;
    padding: 20px;
    margin-bottom: 40px;
    width: 80%;
}

.activity-img {
    background-color: #f7f6f5;
}

.activity-head a{
    text-decoration: none;
    color: #ff6e60;
}
.activity-head a:hover {
    color: #d66456
}
.activity-content {
    margin-bottom: 20px;
}


@media screen and (max-width: 1024px){
    .my-block {
        min-width: 300px;
    }
}