.user {
    background: #292929;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 1px solid #e6e6e6;
    padding: 35px;
    color: #ccc;
    text-align: center;
}

.user .box-header {
    border-bottom: 5px solid #ff000a;
    padding-bottom: 15px;
}

.user .user-thumbnail {
    padding: 3px;
    border: 3px solid #ccc;
}

.user .box-header h1 {
    font-size: 55px;
    font-weight: 900;
    text-shadow: -1px -1px 0 #fff,1px 1px 0 #333,1px 1px 0 #444;
}

.user .box-header h1>small{
    color: #ccc;
}

.user .box-content {
    width: 70%;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 1.5em;
}

.user .table>tbody>tr>td {
    border-top: none;
    width: 50%;
}

.user hr {
    margin-top: 60px;
    margin-bottom: 0;
    border-top: none;
    border-bottom: 5px solid #ff000a;
}

.user .box-content .page-header {
    margin-top: 0;
}

.img-file {
    display: inline-block;
    position: relative;

}
.img-file input {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    opacity: 0;
    cursor: pointer;
}
.form-group {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 25px;
}
.radio-inline input[type=radio] {
    position: relative;
}
.help-block {
    font-size: 0.7em;
    position: absolute;
}
.user .box-content .btn {
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
}

@media screen and (max-width: 768px){
    .user {
        margin-top: 50px;
        padding: 15px;
    }
    .user .box-header h1{
        font-size: 2em;
    }
    .user .box-content {
        width: 100%;
        font-size: 1em;
    }
}