{% extends 'admin/base.html' %}
{% block head %}
	{{ super() }}
	<style>
		.image-box {
			text-align: center;
			/* 当元素溢出时采取hidden的方式 内容被修剪 */
			overflow: hidden;
			position: relative;
		}
		.image-box:before {
			content: '';
			width: 0;
			height: 100%;
			background-color: #000;
			padding: 14px 18px;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0;
			transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
		}
		.image-box:hover:before {
			width: 100%;
			left: 0;
			opacity: 0.3;
		}
		.image-box img {
			width: 100%;
			height: auto;
		}
		.image-box .box-content {
			width: 100%;
			padding: 14px 18px;
			color: #fff;
			position: absolute;
			top: 80%;
			left: 0;
		}
		.image-box .box-content a{
			display: inline-block;
			margin-right: 20px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 50%;
			background: #f74e55;
			font-size: 20px;
			font-weight: 700;
			color: #fff;
			opacity: 0;
			transform: translateX(50px);
			transition: all 0.5s ease 0s;
		}
		.image-box:hover .box-content a{
			opacity: 1;
			transform: translateX(0px);
			transition-delay: 0.5s;
		}
	</style>
{% endblock %}
{% block page_content %}
	<div class="my-nav">
		<!-- 导航-->
		<ul class="nav nav-tabs" role="tablist">
			<li class="active">
				<a href="#" role="tab" name="all" data-toggle="tab">
					所有活动
				</a>
			</li>
			<li>
				<a href="#" role="tab" name="after" data-toggle="tab">
					未举办
				</a>
			</li>
			<li>
				<a href="#" role="tab" name="running" data-toggle="tab">
					正在进行
				</a>
			</li>
			<li>
				<a href="#" role="tab" name="before" data-toggle="tab">
					已举办
				</a>
			</li>
		</ul>
	</div>
	<div class="my-block">
		<a href="#">
			<span class="glyphicon glyphicon-plus"
				  aria-hidden="true"></span>
			发布一个新活动
		</a>
	</div>
	<div class="my-block col-md-4">
		<div class="image-box">
			<img src="/static/image/1.jpg" alt="1">
			<div class="box-content">
				<a href="#">
						<span class="glyphicon glyphicon-pencil"
							  aria-hidden="true"></span>
				</a>&nbsp;
				<a href="#">
						<span class="glyphicon glyphicon-remove"
							  aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
{% endblock %}