{% extends 'admin/base.html' %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block page_content %}
	<div class="my-nav">
		<!-- 导航-->

		<ul class="nav nav-tabs nav-justified" role="tablist">
			<li class="active">
				<a href="#" role="tab" name="all" data-toggle="tab">
					所有活动
				</a>
			</li>
			<li>
				<a href="#" role="tab" name="after" data-toggle="tab">
					未举办
				</a>
			</li>
			<li>
				<a href="#" role="tab" name="running" data-toggle="tab">
					正在进行
				</a>
			</li>
			<li>
				<a href="#" role="tab" name="before" data-toggle="tab">
					已举办
				</a>
			</li>
		</ul>

	</div>
	<div class="my-block">
		<a href="{{ url_for('manage.new_activity') }}">
			<span class="glyphicon glyphicon-plus"
				  aria-hidden="true"></span>
			发布一个新活动
		</a>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-2"></div>
		<div class="col-md-6 col-sm-8 col-xs-12">
			<div class="activity">
				<div class="activity-head text-center page-header">
					<a href="#" class=""><h1>活动标题</h1></a>
					<div class="date">活动时间：2017年10月17日 - 2017年11月17日</div>
				</div>
				<div class="thumbnail activity-img">
					<a href="#" class="img-responsive">
						<img src="/static/image/default.jpg" alt="1">
					</a>
				</div>
				<div class="activity-content text-right">

					<button class="btn btn-info">编辑</button>

					<button class="btn btn-danger">删除</button>

				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-2"></div>
	</div>

	{% import 'admin/_model.html' as model %}
	{{ model.alert() }}

{% endblock %}
{% block scripts %}
	{{ super() }}
	<script>

	</script>
{% endblock %}