{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang='zh-CN' {% endblock html_attribs %}
{% block head %}
	<meta charset="UTF-8" />
	<meta name="author" content="Ggzzhh" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
				type="text/css">
{% endblock head %}

{% block navbar %}
	呵呵
{% endblock navbar %}

{% block content %}
	<div class="container pad-top">
		{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}
		{% block page_content %}{% endblock page_content%}
	</div>
{% endblock content %}


{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
{% endblock scripts %}