{% extends 'admin/base.html' %}


{% block page_content %}

	<div class="container shadow">
		<div class="page-header text-right">
			<h1>总览</h1>
		</div>
		<div class="page-content">
			<div class="table-responsive">
				<table class="table table-hover table-striped">
					<thead>
					<tr>
						<th class="text-center col-md-4"><h3>信 息</h3></th>
						<th class="text-center col-md-8"><h3>备 注</h3></th>
					</tr>
					</thead>
					<tr>
						<td class="text-center col-md-4">会员人数</td>
						<td class="text-center col-md-8">0 人</td>
					</tr>
					<tr>
						<td class="text-center col-md-4">活动人数</td>
						<td class="text-center col-md-8">0 人</td>
					</tr>
					<tr>
						<td class="text-center col-md-4">文章数</td>
						<td class="text-center col-md-8">0 人</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


{% endblock page_content%}

{% block scripts %}
	{{ super() }}
{% endblock scripts %}