{% extends 'admin/base.html' %}

{% block page_content %}
	<div class="container shadow">
		<div class="page-header text-right">
			<h1>导航设置</h1>
		</div>
		<form class="form" id="form">
		</form>
		<div class="pad-left">
			<div class="col-md-6 col-sm-6 col-xs-6" >
				<button class="btn btn-info" id="submit">提交</button>
			</div>
			<div class="append text-right col-md-6 col-sm-6 col-xs-6 pull-right">
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content text-danger">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel"><b>警告</b></h4>
					</div>
					<div class="modal-body text-center">
						<p>确定要删除么？</p>
						<p>删除时会一并删除所有属于该导航的文章以及评论！</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn
						btn-danger" id="delete">确定</button>
						<button type="button" class="btn btn-default"
								data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock page_content %}

{% block scripts %}
	{{ super() }}
	<script>
        var lacks = [];
        var content;
        var num = 0;
        var alert = '<div class="alert alert-warning alert-dismissible" role="alert">' +
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
            '<span aria-hidden="true">&times;</span></button>' +
            '修改成功!3秒后自动刷新!' +
            '</div>';

        $.ajax({
            type: 'GET',
            url: "{{ url_for('api.get_nav_setting') }}",
            data: "",
            dataType: 'json',
            success: function (data) {
                // console.log(data);
                num = data.num;
                lacks = data.lacks;
                if (data.num < 1 || data.num === undefined){
                    $('button').hide();
                    content = "<h3>现在没有自定义导航</h3>";
                }else if (data.num >= 1){
                    content = '';
                    var names = data.names;
                    for (var name in names){
                        content += "<div class='form-group'>" +
                            "<label class='control-label' " +
                            "for='" + names[name][0] + "'>导航名</label>" +
                            "<input type='text' class='form-control' " +
                            "value='" + names[name][1] + "'" +
                            "name='" + names[name][0] + "'/>" +
                            "<button type='button' class='close' aria-label='Close' " +
                            "onclick=delete_nav(" + names[name][0] + ")>" +
                            "<span aria-hidden='true'>&times;</span></button>" +
                            "</div>";
                    }
                }
                if (num < 3){
                    $('.append').html("<a class='btn' " + "id='append'" +
                        "onclick='append()'>" +
                        "<span class='glyphicon glyphicon-plus'><span> " +
                        "添加一个导航" +
                        "</a>");
                }
                $('form').html(content);
            },
            error: function (xhr, error) {
                console.log(xhr);
                console.log(error);
            }
        });

        function delete_nav(id) {
            $('#myModal').modal('show');
            $('#delete').on('click', function () {
                $.ajax({
                    type: 'DELETE',
                    url: "/api-v1.0/nav-setting/" + id,
                    date: "",
                    data_type: 'json',
                    success: function (data) {
                        // console.log(data);
                        if (data.result === 'ok') {
                            window.location.reload()
                        }else{
                            console.log('传送的数据出错' + num);
                            $('#nav'+id).remove();
                            lacks.unshift(id);
                        }
                    },
                    error: function (xhr, error) {
                        console.log(xhr);
                        console.log(error);
                    }
                });

                num --;
                if (num < 3){
                    $('#append').show();
                }
            });
        }

        function append() {
            $('#submit').show();
            var id  = lacks.shift();
            var form = document.getElementById('form');
            if (num === 0) {
                form.innerHTML = '';
            }
            if (num < 3) {
                num ++;
                form.innerHTML += "<div class='form-group' id='nav"+ id +"'>" +
                    "<label class='control-label' for='nav" + id +
                    "'>导航名</label>" +
                    "<input type='text' class='form-control' " +
                    "value='None'" + "name='" + id + "'/>" +
                    "<button type='button' class='close' aria-label='Close' " +
                    "onclick=delete_nav(" + id + ")>" +
                    "<span aria-hidden='true'>&times;</span></button>" +
                    "</div>";
            }
            if (num === 3){
                $('#append').hide();
            }
        }

        $('#submit').click(function (e) {
            var json_data = $('form').serializeJSON();
            json_data.num = num;
            json_data = JSON.stringify(json_data);
            // console.log(json_data);
            $.ajax({
                type: 'POST',
                url: "{{ url_for('api.update_nav_setting') }}",
                data: json_data,
                data_type: 'json',
                contentType: 'application/json;',
                success: function (data) {
                    // console.log(data);
                    if (data.result === 'ok') {
                        $('form').before(alert);
                        setTimeout(function () {
                            window.location.reload()
                        },3000);
                    }else{
                        console.log('传送的数据出错')
                    }
                },
                error: function () {
                    console.log('提交出错!')
                }
            })
        });


	</script>
{% endblock scripts %}