{% extends 'admin/base.html' %}

{% block page_content %}
	<div class="container shadow">
		<div class="page-header text-right">
			<h1>导航设置</h1>
		</div>
		<form class="form" id="form">
		</form>
		<div class="pad-left">
			<div class="col-md-6 col-sm-6 col-xs-6" >
				<button class="btn btn-info" id="submit">提交</button>
			</div>
			<div class="append text-right col-md-6 col-sm-6 col-xs-6 pull-right">
			</div>
		</div>

	</div>
{% endblock page_content %}

{% block scripts %}
	{{ super() }}
	<script>
        var names;
        var id = 1;
        var num = 0;
        $.ajax({
            type: 'GET',
            url: "{{ url_for('api.get_nav_setting') }}",
            data: "",
            dataType: 'json',
            success: function (data) {
                console.log(data);
                var content;
                if (data.num === undefined || data.num === 0 ){
                    $('button').hide();
                    content = "<h3>现在没有自定义导航</h3>";
                    $('.append').html("<a class='btn' " +
                        "onclick='append()' id='append'>" +
                        "<span class='glyphicon glyphicon-plus'><span> " +
                        "添加一个导航" +
                        "</a>");
                }
                else{
                    num = data.num;
                    names = data.names;
                    content = '';
                    for (var old_name in names){
                        content += "<div class='form-group'>" +
                            "<label class='control-label' for='nav" + id +
                            "'>导航名</label>" +
                            "<input type='text' class='form-control' " +
                            "value='" + names[old_name][1] + "'" + "name='" +
                            names[old_name][0] +
                            "'/>" +
                            "<button type='button' class='close' aria-label='Close' " +
                            "onclick=delete_nav(" + id + ")>" +
                            "<span aria-hidden='true'>&times;</span></button>" +
                            "</div>";
                        id ++;
                    }
                    if (num < 3 && num !== 0){
                        $('.append').html("<a class='btn' onclick='append()' " +
                            "id='append'>" +
                            "<span class='glyphicon glyphicon-plus'><span> " +
                            "添加一个导航" +
                            "</a>");
                    }
                }
                $('form').html(content);
            },
            error: function () {
                alert('出现错误，联系维护')
            }
        });

        function append() {
            $('button').show();
            var form = document.getElementById('form');
            if (num === 0) {
                form.innerHTML = '';
            }
            if (num < 3 && id < 4) {
                num ++;
                form.innerHTML += "<div class='form-group' id='nav"+ id +"'>" +
                    "<label class='control-label' for='nav" + id +
                    "'>导航名</label>" +
                    "<input type='text' class='form-control' " +
                    "value='None'" + "name='" + id + "'/>" +
                    "<button type='button' class='close' aria-label='Close' " +
                    "onclick=delete_nav(" + id + ")>" +
                    "<span aria-hidden='true'>&times;</span></button>" +
                    "</div>";
                id++;
            }
            if (num === 3) {
                $('#append').hide();
            }
        }

        function delete_nav(my_id) {
            console.log(my_id);
            $.ajax({
                type: 'DELETE',
                url: "/api-v1.0/nav_setting/" + my_id,
                date: "",
                data_type: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.result === 'ok') {
                        window.location.reload()
                    }
                    console.log('传送的数据出错' + num);
					$('#nav'+my_id).remove();
                },
                error: function () {
                    console.log('提交出错!')
                }
            });
			id --;
			num --;
			if (num < 3 && id <4){
			    $('#append').show();
			}
        };

        $('#submit').click(function () {
            var json_data = $('form').serializeJSON();
            json_data = JSON.stringify(json_data);
            console.log(json_data);
            $.ajax({
                type: 'POST',
                url: "{{ url_for('api.update_nav_setting') }}",
                data: json_data,
                data_type: 'json',
                contentType: 'application/json;',
                success: function (data) {
                    console.log(data);
                    if (data.result === 'ok') {
                        window.location.reload()
                    }
                    console.log('传送的数据出错')
                },
                error: function () {
                    console.log('提交出错!')
                }
            })
        });


	</script>
{% endblock scripts %}