{% extends 'admin/base.html' %}
{% block head %}
	{{ super() }}
	<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<style>
		.persons {
			margin-bottom: 20px;
		}

		.btn {
			margin-bottom: 30px;
		}

		@media (max-width: 1199px) {
			.date {
				margin-top: 15px;
			}
		}
	</style>
{% endblock %}
{% block page_content %}
	<div class="container shadow">
		<div class="page-header text-right">
			<h1>新增活动</h1>
		</div>
		<div class="row">
			<form class="form">
				<div class="col-md-10">
					<div class="form-group">
						<label class="control-label" for="title">标题</label>
						<input type="text" class="form-control" placeholder="None"
							   name="title" id="title" required/>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label for="">开始日期：</label>
								<div class="input-group">
									<div class="input-group-addon btn
									btn-default">
										<span class="glyphicon glyphicon-calendar"></span>
									</div>
									<input type="text" class="form-control" id="start_date"
										   placeholder="活动开始日期" required>
								</div>
							</div>
							<div class="col-md-6 date">
								<label for="">结束日期：</label>
								<div class="input-group">
									<div class="input-group-addon btn
									btn-default">
										<span class="glyphicon
										glyphicon-calendar"></span>
									</div>
									<input type="text" class="form-control"
										   id="end_date"
										   placeholder="活动结束日期" required>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="Preview">展示图</label>
						<div class="thumbnail">
							<img src="{{ url_for('static', filename='image/default.jpg') }}"
								 alt="默认展示图" name="image" id="Preview" width="680"
								 height="340">
						</div>
						<input id="uploadImage" type="file" name="image_url"
							   accept="image/*"/>
						<p class="help-block">图片大小不要超过2M, 长宽比为2:1</p>

					</div>
					<div class="form-group">
						<label for="editor" class="control-label">活动内容</label>
						<div id="editor">
							<div>内容</div>
						</div>
					</div>
					<div class="persons">
						<h3><b>比赛方式</b></h3>
						<select class="form-control" id="persons">
							<option value="many">团队(多对多)</option>
							<option value="solo">个人(1 V 1)</option>
						</select>
					</div>

					<button class="btn btn-info btn-lg">确定</button>
				</div>

			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<script>
        $('#start_date').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });$('#end_date').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });

        $('button').click(function (e) {
            var json_data = {};
            json_data.title = $('#title').val();
            json_data.start_date = $('#start_date').val();
            json_data.end_date = $('#end_date').val();
            json_data.image_url = $('#Preview').attr('src');
            json_data.body = editor.txt.html().replace("<p><br></p>", '');
            json_data.select = $('#persons').val();
            if (json_data['title'] !== '' && json_data.start_date !== '' &&
                json_data.end_date !== ''){
                if (moment(json_data.end_date).isBefore(json_data.start_date)){
                    e.preventDefault();
                    alert('结束时间不能在开始时间之前！');
                    $(window).scrollTop(0);
                    document.getElementById('start_date').focus();
                    return ;
                }
                console.log(json_data);
                json_data = JSON.stringify(json_data);
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('api.activity') }}",
                    data: json_data,
                    dataType: 'json',
                    contentType: 'application/json;',
                    success: function (data) {
                        // console.log(data);
                        if (data.result === 'ok'){
                            alert('添加成功');
                            window.location.href = '/manage/activities'
                        }
                        if (data.result === 'error'){
                            alert('添加失败！请重试');
                        }
                    },
                    error: function (xhr, type) {
                        console.log('出错');
                        console.log(xhr);
                        console.log(type);
                    }
                })
            }else{
                console.log(json_data['title']);
            }

        });

        $('#uploadImage').change(function (e) {
            if (this.files[0].size > 1024*1024*2){
                alert('图片太大了！');
                return;
            }
            var data = new FormData();
            data.append('File', this.files[0]);
            $.ajax({
                type: 'POST',
                url: "{{ url_for('main.upload') }}",
                data: data,
                dataType: 'json',
                // 不自动更改适配类型
                contentType: false,
                // 发送的信息不需要被转化 设置为false
                processData:false,
                success: function (data) {
                    $('#Preview').attr('src', data.data);
                },
                error: function (xhr, type) {
                    console.log('出错');
                    console.log(xhr);
                    console.log(type);
                }
            });
        });


	</script>
	<!-- 编辑器 -->
	<script type="text/javascript" src="{{ url_for('static',
	filename='js/wangEditor.min.js')}}" ></script>
	<script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#editor');
        // 或者 var editor = new E( document.getElementById('#editor') )
        // 下面两个配置，使用其中一个即可显示“上传图片”的tab。但是两者不要同时使用！！！
        // editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
        editor.customConfig.uploadImgServer = '/upload';  // 上传图片到服务器

        // 配置
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'italic',  // 斜体
            'underline',  // 下划线
            'strikeThrough',  // 删除线
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            // 'emoticon',  // 表情
            'image',  // 插入图片
            'undo',  // 撤销
            'redo'  // 重复
        ];
        // 设置文件名
        editor.customConfig.uploadFileName = 'File';
        // 跨域传递 cookie
        editor.customConfig.withCredentials = true;
        var csrf_token = "{{ csrf_token() }}";
        editor.customConfig.uploadImgParams = {
            csrf_token: csrf_token   // 属性值会自动进行 encode ，此处无需 encode
        };

        editor.create();
	</script>
{% endblock %}