{% extends 'admin/base.html' %}
{% block head %}
	{{ super() }}
	<style>
		.span {
			width: 80%;
			margin: 10px auto;
			padding-bottom: 1px;
			border-bottom: 2px solid #9d9d9d;
		}

		.span a {
			text-decoration: none;
			font-size: 2em;
			font-weight: bold;
			color: #00a2d4;
		}

		.myCollapse {
			width: 80%;
			margin: 10px auto;
		}
	</style>
{% endblock %}
{% block page_content %}
	<div class="container shadow">
		<div class="page-header text-right">
			<h1>其他设置</h1>
		</div>
		<form class="form-horizontal">
			<div class="span">
				<a href="#collapse-1" data-toggle="collapse"
				   aria-expanded="false"
				   aria-controls="collapse">
					友情链接
				</a>
			</div>
			<div class="collapse myCollapse" id="collapse-1">
				<div class="form-group">
					<label class="control-label col-sm-1"
						   for="corporate_name">
						名称:
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control"
							   placeholder="None"
							   name="corporate_name"/>
					</div>
					<label class="control-label col-sm-2"
						   for="corporate_name">
						URL 地址:
					</label>
					<div class="col-sm-4">
						<input type="text" class="form-control"
							   placeholder="None"
							   name="corporate_name"/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-1"
						   for="corporate_name">
						名称:
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control"
							   placeholder="None"
							   name="corporate_name"/>
					</div>
					<label class="control-label col-sm-2"
						   for="corporate_name">
						URL 地址:
					</label>
					<div class="col-sm-4">
						<input type="text" class="form-control"
							   placeholder="None"
							   name="corporate_name"/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-1"
						   for="corporate_name">
						名称:
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control"
							   placeholder="None"
							   name="corporate_name"/>
					</div>
					<label class="control-label col-sm-2"
						   for="corporate_name">
						URL 地址:
					</label>
					<div class="col-sm-4">
						<input type="text" class="form-control"
							   placeholder="None"
							   name="corporate_name"/>
					</div>
				</div>
			</div>


		</form>
	</div>
{% endblock %}