{% extends 'admin/base.html' %}
{% block page_content %}
	<div class="shadow container">
		<div class="page-header text-right">
			<h1>{{ category.page_name }}</h1>
		</div>
		<div id="{{ category.id }}">
			<a href="{{ url_for('manage.new_post', category_id=category.id)
					}}">
				<span class="glyphicon glyphicon-plus"
					  aria-hidden="true"></span>
				添加一篇新{{ category.page_name }}
			</a>
		</div>
	</div>

{% endblock page_content %}
{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
{% endblock scripts %}