{% extends 'admin/base.html' %}
{% block page_content %}
	<div class="shadow container">
		<div class="page-header text-right">
			<h1>{{ category.page_name }}</h1>
		</div>
		<div class="container">
			<a href="{{ url_for('manage.new_post', category_id=category.id)
					}}" class="btn">
				<span class="glyphicon glyphicon-plus"
					  aria-hidden="true"></span>
				添加一篇新{{ category.page_name }}
			</a>
			<div class="table row" id="masonry">
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content text-danger">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><b>警告</b></h4>
				</div>
				<div class="modal-body text-center">
					<p>确定要删除么？</p>
					<p>删除时会一并删除所有属于文章的评论！</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn
						btn-danger" id="delete">确定</button>
					<button type="button" class="btn btn-default"
							data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

{% endblock page_content %}
{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
	<script>
        var next;
        get_page();
        moment.locale('zh-cn');
        // 滚动条到页面底部加载更多案例
        // scroll方法用来监听滚动事件
        $(window).scroll(function(){
            var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
            var scrollHeight = $(document).height();   //当前页面的总高度
            var clientHeight = $(this).height();    //当前可视的页面高度

            if(scrollTop + clientHeight >= scrollHeight - 10){
                // console.log('当滚动条距离底部10的时候');
                if (next !== null && next > 1){
                    // 添加内容
                    get_page(next);
                    next = null;
                }
            }
            // else if(scrollTop<=0){
                // console.log('滑动到顶部')
            // }
        });
        function get_page(page) {
            var url = "{{ url_for('api.get_posts', id=category.id) }}";
            if (page === undefined){
                page = 1;
            }
            $.ajax({
                type: "GET",
                url: url + "?page=" + page,
                data: '',
                dataType: 'json',
                success: function (data) {
                    if (data.new_page !== null){
                        next = data.new_page
                    }
                    // console.log(data);
                    create_model(data);
                    // 重新布局
                    $('#masonry').masonry('reloadItems').masonry();
                    if (page === 1){
                        $(window).scrollTop(0);
                    }
                    else{
                        var num = $(window).scrollTop();
                        console.log(num);
                        $(window).scrollTop(num - 1);
                    }

                },
                error: function (xhr, type) {
                    console.log('出错');
                    console.log(xhr);
                    console.log(type);
                }
            });
        }

        function create_model(data) {
            var result;
            for (var i in data.posts){
                var temp = $('#postsTemp').html();
                for (var j in data.posts[i] ){
                    var re = new RegExp("{ " + j + " }", "g");
                    var content = data.posts[i][j];
                    if (j === 'timestamp'){
                        content = moment(content).fromNow();
                    }
                    result = temp.replace(re, content);
                    temp = result;
                }
                $('#masonry').append(result);
            }
        }

        function delete_post(post_id) {
            $('#myModal').modal('show');
            $('#delete').click(function () {
                $.ajax({
                    type: 'DELETE',
                    url: "/api-v1.0/posts/" + post_id,
                    date: "",
                    data_type: 'json',
                    success: function (data) {
                        console.log(data);
                        if (data.result !== 'ok') {
                            console.log('有问题?')
                        }
                        $('#myModal').modal('hide');
                        $('#d-' + post_id).remove();
                        $('#masonry').masonry('reloadItems').masonry();
                    },
                    error: function (xhr, error) {
                        console.log(xhr);
                        console.log(error);
                    }
                });
            });
        }

	</script>
	<script id="postsTemp" type="text/template">
		<div class="col-md-4 col-sm-6" id="d-{ id }">
			<div class="thumbnail my-block">
				<div class="text-center">
					<h4><b>{ title }</b></h4>
					<p class="text-center">
						{ timestamp }
					</p>
				</div>
				<div class="image">
					<a href="{ edit_url }">
						<img src="{ image_url }"
							 class="img-responsive">
					</a>
				</div>
				<div class="caption">
					<p>{ abstract }</p>
					<p class="text-right">
						<a href="{ edit_url }" class="btn btn-primary">
							编辑
						</a>
						<button class="btn btn-danger" name="{ id }"
								id="delete_{ id }" onclick="delete_post({ id })">
							<span class="glyphicon glyphicon-star pull-left"
								  aria-hidden="true"></span>删除
						</button>
					</p>
				</div>
			</div>
		</div>
	</script>
	<script>
        //瀑布式布局
        $('#masonry').masonry();
	</script>
{% endblock scripts %}