<pre>
    重置密码：
    {{ user.username }},
    有人要重置您在 浩瀚体育 的密码！

    ----------------------------------------------------------------------
    重要！如果不是本人操作请勿点击！
    ----------------------------------------------------------------------

    点击下面的连接即可重置您的密码：<a
        href="{{ url_for('auth.reset_password_request', token=token, _external=True) }}">
    {{ url_for('auth.reset_password_request', token=token, _external=True) }}
    </a>

    (如果上面不是链接形式，请将该地址手工粘贴到浏览器地址栏再访问)

    感谢您的访问，祝您使用愉快！

    此致
    浩瀚体育.
</pre>
