{% extends 'bootstrap/base.html' %}
{% block head %}
	{{ super() }}
	<style>
		.container {
			margin-top: 200px;
			font-size: 3em;
			font-weight: 700;
		}
		.well {
			padding: 80px;
		}
		.page-body {
			font-size: 0.8em;
			font-weight: 600;
			color: #dc143c;
			text-align: center;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="well">
			<div class="page-header">
				错误404 -- 页面不存在
			</div>
			<div class="page-body">
				页面走丢了！你可以<a href="/">回到首页</a>
			</div>
		</div>

	</div>

{% endblock %}
