<ul class="comments">
	{% for comment in comments %}
		<li class="comment">
			<div class="comment-thumbnail">
				<a href="{{ url_for('auth.index', id=comment.author.id) }}">
					<img src="{{ comment.author.gravatar(size=40) }}" alt="用户资料"
						 class="img-rounded profile-thumbnail" />
				</a>
			</div>
			<div class="comment-content">
				<div class="comment-date">
					{{ moment(comment.timestamp).fromNow() }}
				</div>
				<div class="comment-author">
					<a href="{{ url_for('auth.index', id=comment.author.id) }}">
						{{ comment.author.username }}
					</a> 说：
				</div>
				<div class="comment-body">
					{% if comment.disabled %}
						<p>***和谐 民主***</p>
					{% else %}
						{{ comment.body | safe }}
					{% endif %}
				</div>
			</div>
		</li>
	{% endfor %}
	{% if count == 0 %}
		<li class="comment">
			<div class="comment-body">
				还没有评论！ 快来抢沙发！
			</div>
		</li>
	{% endif %}
</ul>
<button class="btn btn-info" id="add-comment">发表评论</button>