{% extends 'base.html' %}
{% import 'auth/_models.html' as model %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet"
		  href="{{ url_for('static', filename='css/activity.css') }}"
		  type="text/css">
	<style>
		.widget {
			margin: 0 auto;
			text-align: center;
		}
	</style>
{% endblock %}
{% block page_content %}
	<div class="container-fluid content">
		<div class="row">
			<div class="col-sm-3 col-md-2">
				<div class="sidebar">
					<ul class="nav nav-sidebar">
						<li>
							<a href="{{ url_for('main.show_activity', condition='all') }}">
								所有活动
							</a>
						</li>
						<li>
							<a href="{{ url_for('main.show_activity', condition='future') }}">
								活动预告
							</a>
						</li>
						<li>
							<a href="{{ url_for('main.show_activity',condition='start') }}">
								活动ING
							</a>
						</li>
						<li>
							<a href="{{ url_for('main.show_activity',condition='end') }}">
								往期活动
							</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				{% for activity in activities %}
					{{ model.show_activity(activity.easy_to_json(brief=True)) }}
				{% endfor %}
				<div class="widget">
					{% if count > 15 %}
						{{ model.pagination_widget(pagination, 'main.show_activity') }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}