{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/community.css') }}" type="text/css">
	<style>
		body {
			margin: 0;
			height: 100%;
			line-height: 160%;
			color: #666;
			background: #f0f0f0;
		}
		a {
			cursor: pointer;
		}
		a:hover {
			text-decoration: none;
		}
		pre.post-body {
			background-color: transparent!important;
			border: none;
			font-size: inherit;
			color: inherit;
			line-height: 30px;
			padding: 0;
		}
		.container {
			min-width: 990px!important;
		}
		.aw-top-menu-wrap {
			position: relative;
			z-index: 1001;
			width: 100%;
			min-height: 50px;
			background-color: #499ef3;
		}
		.aw-container-wrap {
			margin-top: 30px;
		}
		.aw-content-wrap {
			margin: 0 15px;
			background-color: #fff;
			border: 1px solid #e6e6e6;
			border-radius: 4px;
		}
		.aw-logo {
			float: left;
			font-size: 1.5em;
			margin-top: 15px;
			margin-right: 45px;
		}
		.aw-logo a {
			color: #f0f0f0;
			text-decoration: none;
			text-shadow: 1px 1px 3px #000;
		}
		.aw-search-box {
			position: relative;
			margin: 10px 0;
			float: left;
		}
		.aw-search-box .input-group {
			width: 260px;
		}

		.aw-user-nav {
			position: relative;
			margin: 10px 0 0 10px;
			float: right;
		}
		ul.nav {
			margin-left: 30px;
		}
		ul.nav>li {
			text-align: center;
		}
		ul.nav>li a{
			color: #ffffff;
			text-shadow: 1px 1px 3px #000;
			font-size: 1em;
		}

		ul.nav>li>a.active {
			background: #4dabff;
			font-weight: 700;
			height: 53px;
		}

		.aw-main-content {
			padding: 0 0 20px;
			border-right: 1px solid #e6e6e6;
		}

		.welcome {
			font-size: 1.2em;
			letter-spacing: 0.2em;
			color: #fff;
			text-shadow: 1px 1px 3px #000;
		}

		.welcome a {
			color: #ffffff;
			text-shadow: 1px 1px 3px #000;
			text-decoration: none;
		}
		.welcome a:hover {
			color: #eeeeee;
			text-shadow: 3px 3px 3px #000;
		}
		.aw-box-header {
			padding-left: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #e6e6e6;
		}
		.aw-box-header a{
			font-size: 1.7em;
			color: #4390df;
			text-decoration: none;
		}
		.aw-box-header a:hover {
			color: #275582;
		}

		.aw-side-bar {
			padding: 20px;
			margin-left: -1px;
			border-left: 1px solid #e6e6e6;
		}

		.aw-mod {
			padding-bottom: 10px;
			border-bottom: 1px solid #e6e6e6;
		}
		.aw-list {
			padding: 0 20px;
		}
		.aw-list>div+div {
			border-top: 1px solid #eeeeee;
		}
		.widget {
			margin: 20px 0 0;
		}
		.pagination>.active>a,
		.pagination>.active>span,
		.pagination>.active>a:hover,
		.pagination>.active>span:hover,
		.pagination>.active>a:focus,
		.pagination>.active>span:focus {
			background-color: #499ef3;
			color: #fff;
			border-color: #499ef3;
		}
		.aw-item {
			position: relative;
			z-index: 0;
			min-height: 45px;
			padding: 14px 0 14px 50px;
		}
		.aw-user-name {
			position: absolute;
			left: 0;
			top: 18px;
			line-height: 20px;
			font-weight: 400;
		}
		.aw-user-name a {
			text-decoration: none;
		}
		.aw-user-name img{
			width: 40px;
			height: 40px;
			border-radius: 	4px;
			padding: 2px;
		}
		.aw-question-content h4 {
			margin: 0 0 3px;
			padding-right: 20px;
			font-size: 1.1em;
			font-weight: 500;
			word-wrap: break-word;
		}
		.aw-question-content p {
			margin: 0;
			color: #999;
		}
		.aw-question-content .pull-right span{
			position: absolute;
			bottom: 10px;
			right: 10px;
		}

		.new-post {
			margin-right: 15px;
		}

		.new-post .btn{
			font-size: 0.8em;
			font-weight: 600;
			height: 30px;
			background-color: #499ef3;
			border-color: #499ef3;
		}

		.new-post .btn:focus{
			background-color: #4390df;
			border-color: #4390df;
		}

		#hot {
			margin-top: 20px;
		}

		#hot>li>p {
			font-size: 0.8em;
			color: #acacac;
		}

		.page-body {
			margin-left: 10px;
		}

		.post-top {
			color: #ff000a;
			font-weight: 700;
		}

		.post-top-admin a{
			color: #ff000a;
			font-size: 0.5em;
		}

		.mod-body {
			margin-bottom: 30px;
			padding: 10px 20px 0;
		}

		.mod-footer {
			margin-bottom: 50px;
			padding: 10px 20px 0;
			min-height: 20px;
			line-height: 20px;
			font-size: 12px;
			color: #a3a3a3;
		}

		.mod-footer>span {
			margin-right: 10px;
		}

		.mod-footer a {
			color: #a3a3a3;
		}

		.mod-footer a:hover {
			color: #c8c8c8;
		}

		.aw-comment {
			padding-left: 20px;
		}

		ul.comments {
			list-style-type: none;
			padding: 0px;
			margin: 16px 0px 0px 0px;
		}
		ul.comments li.comment {
			font-size: 0.9em;
			margin-left: 32px;
			margin-right: 32px;
			padding: 8px;
			border-bottom: 1px solid #e0e0e0;
			border-radius: 5px;
		}
		ul.comments li.comment:nth-child(1) {
			border-top: 1px solid #e0e0e0;
		}
		ul.comments li.comment:hover {
			background-color: #f0f0f0;
		}
		div.comment-date {
			float: right;
		}
		div.comment-author {
			font-weight: bold;
		}
		div.comment-thumbnail {
			position: absolute;
		}
		div.comment-content {
			margin-left: 48px;
			min-height: 48px;
			overflow: hidden;
			padding: 0.2em 1em;
		}
		div.comment-form {
			margin: 16px 0px 16px 32px;
		}
		#time {
			font-size: 0.9em;
			color: #5e5e5e;
		}

		@media screen and (max-width: 1025px){
			.container {
				min-width: 100%!important;
			}
			.aw-content-wrap {
				margin: 0 15px;
			}
			.aw-item {
				padding-left: 5px;
			}
			ul.nav {
				display: none!important;
			}
		}
	</style>
{% endblock %}
{% block navbar %}
	<noscript unselectable="on" id="noscript">
		<div class="aw-404 aw-404-wrap container">
			<img src="http://wenda.bootcss.com/static/common/no-js.jpg">
			<p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
		</div>
	</noscript>
	<div class="aw-top-menu-wrap">
		<div class="container">
			<!-- logo -->
			<div class="aw-logo">
				<a href="{{ url_for('main.index') }}">浩瀚体育</a>
			</div>
			<!-- end logo -->
			<!-- 搜索框 -->
			<div class="aw-search-box hidden-xs hidden-sm">
				<form class="navbar-search" id="global_search_form" method="post">
					<div class="input-group">
						<input type="text" class="form-control"
							   placeholder="搜索内容...">
						<span class="input-group-btn">
        				<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
      					</span>
					</div>

				</form>
			</div>
			<!-- end 搜索框 -->
			<ul class="nav navbar-nav">
				<li><a href="/community" class="active">
					<i class="fa fa-navicon"></i>
					发现</a>
				</li>
			</ul>
			<!-- 用户栏 -->
			<div class="aw-user-nav">
				<!-- 登陆&注册栏 -->
				<span>
					{% if current_user.is_authenticated  %}
						<span class="welcome">
							<a href="{{ url_for('auth.index', id=current_user.id) }}">
								{{ current_user.username }}
							</a> |
							<a href="/auth/logout/{{ current_user.username }}">
								注 销
							</a>
						</span>
					{% else %}
						<a class="login btn btn-normal btn-primary"
						   href="{{ url_for('auth.login') }}">登录</a>
						<a class="register btn btn-normal btn-success"
						   href="{{ url_for('auth.register') }}">注册</a>
					{% endif %}
				</span>
				<!-- end 登陆&注册栏 -->
			</div>
			<!-- end 用户栏 -->
			<!-- 发起 -->
			<!-- end 发起 -->
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="aw-container-wrap">
		<div class="container">
			<div class="row">
				<div class="aw-content-wrap clearfix">
					<div class="col-sm-12 col-md-9 aw-main-content">
						{% block page_content %}{% endblock %}
					</div>
					<div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
						<div class="aw-mod">
							热门帖子
						</div>
						<div class="aw-list">
							<ul id="hot"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
	{{ moment.lang("zh-CN") }}
	<script>
        get_hot();

        var data = {'title': '标题', 'body': '内容'};
        // add_community_post(data);
        // show_community_post();
        // delete_community('comment', 2);
        // update_community_post(data);
        // add_community_comment(data);


        function add_community_post() {
            var data = {};
            data.title = $('#new_title').val();
            data.body = $('#new_body').val();
            data = JSON.stringify(data);
            $.ajax({
                type: 'POST',
                url: "{{ url_for('api.add_community_post') }}",
                data: data,
                dataType: 'json',
                contentType: 'application/json;',
                success: function (data) {
                    if (data.result === 'ok'){
                        swal('成功','恭喜你！发表成功！快去看看吧', 'success')
                            .then(function () {
                                window.location.reload()
                            })
                    }
                    else {
                        alert('发表失败')
                    }
                },
                error: function (xhr, type) {
                    alert("出现错误:" + xhr + "，错误类型：" + type + "! 请联系管理员");
                }

            })
        }

        function delete_community(method, id) {
            var url;
            if (method === 'post') {
                url = "/api-v1.0/community-post/" + id
            }
            else if (method === 'comment') {
                url = "/api-v1.0/community-comment/" + id
            }
            swal({
                title: '删除帖子！',
                text: '你确定要删除该帖子么？',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: '取消',
                cancelButtonText: '确定',
                cancelButtonColor: '#d33',
                allowOutsideClick: false
            }).then(function () {
                },
                function () {
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        data: "",
                        dataType: 'json',
                        success: function (data) {
                            if (data.result === 'ok') {
                                swal('成功', '帖子已删除！', 'success')
                                    .then(function () {
                                        window.location.reload()
                                    })
                            }
                            else {
                                swal('删除失败', '', 'error');
                            }
                        },
                        error: function () {
                            swal('失败', '请联系管理员', 'error');
                        }
                    });
                });
        }

        function show_community_post(id) {
            $.ajax({
                type: 'GET',
                url: "/api-v1.0/community-post/" + id,
                data: data,
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                }
            })
        }


        function add_community_comment(data, id) {
            if (data.body === undefined || data.body === ""){
                return
            }
            data.post_id = id; // 之后改为 { id }
            data = JSON.stringify(data);
            $.ajax({
                type: 'POST',
                url: "{{ url_for('api.add_community_comment') }}",
                data: data,
                dataType: 'json',
                contentType: 'application/json;',
                success: function (data) {
                    if (data.result === 'ok'){
                        swal('成功', '您提交发表了一篇评论！', 'success')
                            .then(function () {
                                window.location.reload()
                            }).catch(function () {
                            window.location.reload()
                        })
                    }
                }
            })
        }

        function get_hot() {
            $.ajax({
                type: 'GET',
                url: "{{ url_for('api.get_hot') }}",
                data: data,
                dataType: 'json',
                success: function (data) {
                    var element = $('#hot');
                    if (data.result === 'ok'){
                        for (var i in data.posts){
                            element.append('<li><a href="'+ data.posts[i].url
                                +'">'+ data.posts[i].title +'</a><p>评论数：'
                                + data.posts[i].count + ' &nbsp;&nbsp;浏览量：'
                                + data.posts[i].page_view + '</p></li>')

                        }
                    }
                }
            });
        }

        function do_top(id) {
            $.ajax({
                type: 'GET',
                url: "{{ url_for('api.do_top') }}" + "?id=" + id,
                data: "",
                dataType: 'json',
                success: function (data) {
                    if (data.result === 'ok'){
                        swal('成功','', 'success')
                            .then(function () {
                                window.location.reload()
                            })
                    }
                    else {
                        console.log(data)
                    }
                },
                error: function (xhr, type) {
                    alert("出现错误:" + xhr + "，错误类型：" + type + "! 请联系管理员");
                }
            });
        }

        function remove_top(id) {
            $.ajax({
                type: 'GET',
                url: "{{ url_for('api.remove_top') }}" + "?id=" + id,
                data: "",
                dataType: 'json',
                success: function (data) {
                    if (data.result === 'ok'){
                        swal('成功','', 'success')
                            .then(function () {
                                window.location.reload()
                            })
                    }
                    else {
                        console.log(data)
                    }
                },
                error: function (xhr, type) {
                    alert("出现错误:" + xhr + "，错误类型：" + type + "! 请联系管理员");
                }
            });
        }

        function less_IE_10() {
            if(navigator.appName === "Microsoft Internet Explorer"&&parseInt
                (navigator.appVersion.split(";")[1]
                    .replace(/[ ]/g, "")
                    .replace("MSIE",""))<=10){
                alert("您的浏览器版本过低，部分功能无法使用，为了正常使用本网站，请下载IE10及以上版本, 或使用谷歌浏览器! ");
                return true
            }
            return false
        }

        function new_comment(id) {
            if (less_IE_10()){
                return
            }
            swal({
                title: '请输入评论:',
                input: 'text',
                showCancelButton: true,
                confirmButtonText: '发表',
                allowOutsideClick: false,
				cancelButtonText: '取消'
            }).then(function(body) {
                var data = {'body': body};
                add_community_comment(data, id);
            });
        }
	</script>
{% endblock %}