{% extends 'c_base.html' %}
{% import 'auth/_models.html' as model %}
{% block page_content %}
	<div class="page-header aw-box-header">
		<a href="{{ url_for('main.community') }}">
			<i class="fa fa-flag"></i>
			社区
		</a>
		{% if current_user.is_authenticated  %}
		<div class="new-post pull-right">
			<button class="btn btn-info">
				发 表 新 帖
				<span class="fa fa-plus"></span>
			</button>
		</div>
		{% endif %}
	</div>
	<div class="aw-list">
		{% for post in posts %}
			{{ model.show_community(post, post.author) }}
		{% endfor %}
		<div class="widget pull-right">
			{{ model.pagination_widget(pagination, 'main.community') }}
		</div>
	</div>
{% endblock %}