{% extends 'base.html' %}

{% block page_content %}

	<div id="editor">
		<p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
	</div>
	<button>确定</button>


{% endblock page_content%}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}

	<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
	<script type="text/javascript" src="{{ url_for('static',
	filename='js/wangEditor.min.js')}}" ></script>
	<script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#editor');
        // 或者 var editor = new E( document.getElementById('#editor') )

        // 下面两个配置，使用其中一个即可显示“上传图片”的tab。但是两者不要同时使用！！！
        // editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
        editor.customConfig.uploadImgServer = '/upload';  // 上传图片到服务器

        // 配置
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'italic',  // 斜体
            'underline',  // 下划线
            'strikeThrough',  // 删除线
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            'emoticon',  // 表情
            'image',  // 插入图片
            'undo',  // 撤销
            'redo'  // 重复
        ];
        // 设置文件名
        editor.customConfig.uploadFileName = 'File';
        // 跨域传递 cookie
        editor.customConfig.withCredentials = true;
        var csrf_token = "{{ csrf_token() }}";
        editor.customConfig.uploadImgParams = {
            csrf_token: csrf_token   // 属性值会自动进行 encode ，此处无需 encode
        };
        editor.create();
        $('button').click(function () {
            console.log(editor.txt.html())
        })
	</script>
{% endblock scripts %}