{% extends 'base.html' %}

{% block page_content %}

	<div class="carousel slide" data-ride="carousel" id="myCarousel">
		<div class="carousel-content">
			<div class="down">
				<i class="fa fa-angle-double-down down" aria-hidden="true"
				   onclick="goDown()"></i>
			</div>
			<!-- 轮播（Carousel）项目 -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="/static/image/bg-1.jpg" alt="First slide">
				</div>
				<div class="item">
					<img src="/static/image/bg-2.jpg" alt="Second slide">
				</div>
				<div class="item">
					<img src="/static/image/bg-3.jpg" alt="Third slide">
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="normal">
			<div class="info">
				<div class="page-header text-center">
					<h2>
						<b>给大家介绍一下</b>
						<a href="#info"><b>@浩瀚体育</b></a>
					</h2>
				</div>
				<div class="page-content center-block">
					<a name="info">浩瀚体育</a>是一家集体育赛事、体育传媒和教育培训的体育类管理公司，业务范围涵盖终端消费者的日常体育生活服务、面向企业品牌传播的整合服务。公司业务范围覆盖体育咨询管理、体育赛事运营、体育场馆营运、体育娱乐传媒等。
				</div>
			</div>
		</div>
		<div class="gray">
			<div class="row info">
				<div class="col-md-4">
					<div class="border">
						<div class="page-header text-center">
							<h2>
								<b>体育活动管理</b>
							</h2>
						</div>
						<div class="page-content">
							为各类企事业单位提供体育活动场地，全面负责各项体育活动策划与组织。
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="border">
						<div class="page-header text-center">
							<h2>
								<b>教育咨询</b>
							</h2>
						</div>
						<div class="page-content">
							我们有专业的教练来为青少年对体育类考试加试内容进行辅导，以及日常培训的咨询工作和制定长短期计划。同时，在假期里，篮球夏令营班开放。
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="border">
						<div class="page-header text-center">
							<h2>
								<b>娱乐与传媒</b>
							</h2>
						</div>
						<div class="page-content">
							新兴体育团体为您呈现不一样的视觉感受，以体育项目为主题制作多种风格影音作品，让体育文化这个朝阳产业为树立公司良好的品牌口碑！
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="normal">
		<div class="info">
			<div class="page-header text-center">
				<h2><b>如何参加活动</b></h2>
			</div>
			<div class="page-content center-block">
				<div class="row">
					<div class="col-ms-4 col-md-4">
						<div class="step">步骤1</div>
						<div class="bubble"></div>
					</div>
					<div class="col-ms-4 col-md-4">
						<div class="step">步骤2</div>
						<div class="bubble"></div>
					</div>
					<div class="col-ms-4 col-md-4">
						<div class="step">步骤3</div>
						<div class="bubble"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">

	</div>


{% endblock page_content%}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
	<script>
        $('#myCarousel').find('img').css('max-height', $(this).height());
        $(window).resize(function () {
            $('#myCarousel').find('img').css('max-height', $(this).height());
        });

        $('.carousel').carousel({
                interval: 4000,
                pause: null
            }
        );
        function goDown() {
            $("html, body").animate({scrollTop:$('.carousel-inner').height()}, 700);
        }

	</script>

{% endblock scripts %}