{% extends 'base.html' %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet"
		  href="{{ url_for('static', filename='css/register.css') }}"
		  type="text/css">
	<style>
		body{
			background: #f0f0f0;
		}
		.register-box {
			margin: 150px auto 40px;
			width: 60%;
			height: auto;
			padding: 50px 0;
			background: white;
			border: 1px solid #b3b3b3;
			border-radius: 3px;
			text-align: center;
		}

		.mod-body {
			width: 70%;
			margin: 0 auto;
			padding: 40px;
		}

		.mod-body .form ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.mod-body .form ul li {
			position: relative;
			margin-bottom: 20px;
		}
		.mod-body .page-header {
			color: #ff6164;
			font-size: 1.2em;
		}

		.aw-register-box ul li input[type="text"],
		.aw-register-box ul li input[type="password"] {
			width: 100%;
			height: 40px;
			line-height: 28px\0;
			padding-left: 15px !important;
			box-shadow: none;
			border-color: #e6e6e6;
		}

		#submit{
			width: 60%;
		}
		@media screen and (max-width: 1024px){
			.register-box {
				width: 90%;
			}
		}
	</style>
{% endblock %}

{% block page_content %}
	<div class="register">
		<div class="register-box">
			<div class="mod-head">
				<img src="\static\image\logo.jpg" width="140" height="140"
					 class="img-circle">
				<h1>注册新用户</h1>
			</div>
			<div class="mod-body">
				<form class="form">
					<div class="page-header">
						<b>必填</b>
					</div>
					<ul>
						<li id="username">
							<input class="form-control"
								   type="text" name="username"
								   placeholder="用户名"
								   value="">
							<span class="help-block text-left">
								* 6位以上的数字、字母、下划线
							</span>
						</li>
						<li id="email">
							<input class="form-control"
								   type="text" name="email"
								   placeholder="邮箱"
								   data-toggle="popover"
								   data-placement="top"
								   value="">
							<span class="help-block text-left">
								* 例如： 1234567@qq.com
							</span>
						</li>
						<li id="password">
							<input class="form-control"
								   type="text" name="password"
								   placeholder="密码"
								   data-toggle="popover"
								   data-placement="top"
								   value="">
							<span class="help-block text-left">
								* 6位以上的数字、字母、下划线（不能是纯数字）
							</span>
						</li>
						<hr />
						<div class="page-header">
							<b>主要联系方式</b>
							<small><b>(只有自己与球队队长可见)</b></small>
						</div>
						<li class="text-left">
							<label for="phone">手机号:</label>
							<input class="form-control"
								   type="text" name="phone"
								   placeholder="无"
								   value="" id="phone">
							<span class="help-block text-left"></span>
						</li>
						<li class="text-left">
							<label for="qq">QQ:</label>
							<input class="form-control"
								   type="text" name="qq"
								   placeholder="无"
								   value="" id="qq">
							<span class="help-block text-left"></span>
						</li>
						<li class="text-left">
							<label for="WeChat">微信号:</label>
							<input class="form-control"
								   type="text" name="WeChat"
								   placeholder="无"
								   value="" id="WeChat">
							<span class="help-block text-left"></span>
						</li>
						<hr />
						<div class="page-header"><b>选填</b></div>
						<li class="text-left">
							<label for="name">真实姓名:</label>
							<input class="form-control"
								   type="text" name="name"
								   placeholder="例如：李狗蛋"
								   value="" id="name">
						</li>
						<li id="gender" class="text-left radio">
							<b>性别:</b> &nbsp;
							<label>
								<input type="radio" value='1' name="gender">
								男
							</label>&nbsp;
							<label>
								<input type="radio" value='2' name="gender">
								女
							</label>&nbsp;
							<label>
								<input type="radio" value='3' name="gender" checked>
								???
							</label>
						</li>

						<li class="text-left">
							<label for="age">年龄:</label>
							<input class="form-control"
								   type="text" name="age"
								   placeholder="例如：3"
								   value="" id="age">
						</li>
						<li class="text-left">
							<label for="tops">身高:</label>
							<input class="form-control"
								   type="text" name="tops"
								   placeholder="150cm”"
								   value="" id="tops">
						</li>
						<li class="text-left">
							<label for="weight">体重:</label>
							<input class="form-control"
								   type="text" name="weight"
								   placeholder="150kg"
								   value="" id="weight">
						</li>

						<li id="position" class="text-left">
							<label><b>主要位置:</b> &nbsp;</label>
							<select name="position"  class="form-control">
								<option>后卫</option>
								<option>前锋</option>
								<option>中锋</option>
							</select>
						</li>
					</ul>
				</form>
			</div>
			<button class="btn btn-info" id="submit">注册</button>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/register.js') }}"></script>
	<script type="text/javascript">
        $('[name="email"]').focusin(function () {
            wrong('email')
        });
	</script>
{% endblock %}